<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>chat page</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div class="chat" *ngFor="let chat of chatRef | async">
      <div class="me" *ngIf="uid === chat.UserID1">
        {{chat.Message}} 
      </div>
      <div class="you" *ngIf="uid !== chat.UserID1">
        <span class="name">
          {{chat.Name}}
        </span><br>
        {{chat.Message}}<br>
        <label style="text-align: right; background-color: grey ;border-radius:6px 21px 6px"><small>{{chat.Timestamp | date : 'hh:mm' }}</small></label>
      </div>
     </div>
     



  </ion-content>
  <ion-footer>
    <ion-item>
      <ion-input placeholder="messsage...." [(ngModel)]="text"></ion-input>
      <ion-button (click)="send()" icon-only slot="end">
        <ion-icon name="send"></ion-icon>
      </ion-button>
    </ion-item>
  
  </ion-footer>