<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Profile Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 

    
    
    <div class="container">
        <img src={{img}} alt="Avatar" >
   <h3><b>{{user?.username}}</b></h3>
  </div>
  
    <ion-item><ion-label>Email : {{user.email}}</ion-label></ion-item>
    <ion-item><ion-label>Gender: {{user.gender}}</ion-label></ion-item>
    <ion-item><ion-label>Bio : {{user.Bio}}</ion-label></ion-item>
      <ion-fab vertical="center" horizontal="end" slot="fixed">
      <ion-fab-button  (click)="openPopover()"><ion-icon name="add"></ion-icon></ion-fab-button>
    </ion-fab>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
      <ion-fab-button>
        <ion-icon name="share"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
          <ion-fab-button><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
          <ion-fab-button><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
          <ion-fab-button><ion-icon (click)="sharingInsta(user.email)" name="logo-instagram"></ion-icon></ion-fab-button>
        </ion-fab-list>
        
    </ion-fab>


</ion-content>
