<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Profile Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 



<div class="card">
    <img src={{img}} alt="Avatar" >
    
    <div class="container">
      <h3><b>{{user?.username}}</b></h3>
      <h4>{{user.gender}}</h4>
      <ion-header no-padding>Bio:</ion-header>
     <ion-item> <ion-fab-button slot="end" (click)="openPopover()"><ion-icon name="add"></ion-icon></ion-fab-button></ion-item>
    </div>
  </div>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
      <ion-fab-button>
        <ion-icon name="share"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
          <ion-fab-button><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
          <ion-fab-button><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
          <ion-fab-button><ion-icon (click)="sharingInsta(user.email)" name="logo-instagram"></ion-icon></ion-fab-button>
          
        </ion-fab-list>
        
    </ion-fab>


</ion-content>
